/* Payment.css */

.payment-container {
  max-width: 1020px;
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
  font-family: "Cormorant", serif;
  color: #1a1a1a;
  background: #fafafa;
}

.payment-container h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}

/* 공통 form-section */
.form-section {
  border: 1px solid #dedede;
  padding: 20px 24px;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.form-section h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* 주문 상품 */
.order-items div {
  font-size: 15px;
  color: #444;
}

.payment-summary {
  text-align: right;
  font-size: 18px;
  font-weight: 600;
}

/* 배송지 입력 */
.same-user {
  display: flex;
  justify-content: flex-end; /* 체크박스+텍스트 오른쪽 정렬 */
  align-items: center;
  font-size: 15px;
}

.same-user input {
  transform: scale(1.25);
  margin-right: 5px;  /* 체크박스와 텍스트 간격 */
  cursor: pointer;
}


.delivery input {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
  transition: 0.25s;
}

.delivery input:disabled {
  background: #f2f2f2;
  color: #c3f33fef;
}

.delivery input:focus {
  border-color: #000;
  outline: none;
}

/* 결제 수단 */
.payment-method select {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fafafa;
  transition: 0.25s;
}

.payment-method select:focus {
  border-color: #000;
  outline: none;
}

/* 버튼 */
.payment-action {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  margin-top: 20px;
}

.payment-action button {
  padding: 12px 32px;
  background: #000;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.payment-action button:hover {
  background: #333;
}

/* 반응형 */
@media (max-width: 768px) {
  .payment-action {
    flex-direction: column;
  }
}
