.shoot-wrapper {
  text-align: center;
  color: black;
}

.shoot-board {
  position: relative;
  width: 400px;
  height: 500px;
  background: #ddd;
  margin: 10px auto;
  border: 2px solid black;
  overflow: hidden;
}

/* player */
.player {
  width: 40px;
  height: 40px;
  background: blue;
  position: absolute;
  bottom: 10px;
}

/* bullet */
.bullet {
  width: 6px;
  height: 12px;
  background: yellow;
  position: absolute;
}

/* enemy */
.enemy {
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
}

/* Game over */
.over-text {
  font-size: 28px;
  font-weight: bold;
  color: red;
}
