.search-page {
    padding: 40px 60px;
}

.search-title {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.no-result {
    font-size: 20px;
    color: #777;
    margin-top: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.product-card2 {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 20px;
    background: #fff;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
}

.product-card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.product-card2 img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card2 h3 {
    margin-top: 15px;
    font-size: 18px;
}

.product-card2 p {
    font-size: 16px;
    margin-top: 8px;
    font-weight: 500;
}

.empty {
    height: 200px;
}